In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pygeohash as gh
import seaborn as sns

from sklearn.model_selection import train_test_split

from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense

In [9]:
df = pd.read_csv('training.csv')

df.head()

  geohash6  day timestamp    demand
0   qp03wc   18      20:0  0.020072
1   qp03pn   10     14:30  0.024721
2   qp09sw    9      6:15  0.102821
3   qp0991   32       5:0  0.088755
4   qp090q   15       4:0  0.074468

In [10]:
df.describe()

                day        demand
count  4.206321e+06  4.206321e+06
mean   3.145299e+01  1.050907e-01
std    1.768278e+01  1.592655e-01
min    1.000000e+00  3.092217e-09
25%    1.600000e+01  1.867379e-02
50%    3.200000e+01  5.043463e-02
75%    4.700000e+01  1.208644e-01
max    6.100000e+01  1.000000e+00

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4206321 entries, 0 to 4206320
Data columns (total 4 columns):
geohash6     object
day          int64
timestamp    object
demand       float64
dtypes: float64(1), int64(1), object(2)
memory usage: 128.4+ MB

In [12]:
df.count()

geohash6     4206321
day          4206321
timestamp    4206321
demand       4206321
dtype: int64

In [13]:
df.corr()

             day    demand
day     1.000000  0.023643
demand  0.023643  1.000000

In [14]:
splitted_timestamp = df.timestamp.str.split(':')
df['hours'] = splitted_timestamp.str[0]
df['minutes'] = splitted_timestamp.str[1]
df.head()

  geohash6  day timestamp    demand hours minutes
0   qp03wc   18      20:0  0.020072    20       0
1   qp03pn   10     14:30  0.024721    14      30
2   qp09sw    9      6:15  0.102821     6      15
3   qp0991   32       5:0  0.088755     5       0
4   qp090q   15       4:0  0.074468     4       0

In [15]:
lat_long = df.apply(lambda rec: gh.decode(rec.geohash6),axis=1)
df['lat'] = lat_long.str[0]
df['long'] = lat_long.str[1]

In [16]:
df.head()

  geohash6  day timestamp    demand hours minutes   lat  long
0   qp03wc   18      20:0  0.020072    20       0 -5.35  90.7
1   qp03pn   10     14:30  0.024721    14      30 -5.41  90.7
2   qp09sw    9      6:15  0.102821     6      15 -5.33  90.9
3   qp0991   32       5:0  0.088755     5       0 -5.35  90.8
4   qp090q   15       4:0  0.074468     4       0 -5.41  90.7

In [17]:
df_features = df.drop(['geohash6','demand'],axis=1)
df_target = df['demand']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(df_features, df_target, test_size=0.30, random_state=0)

In [20]:
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(3, 1)))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
model.fit(X_train, y_train, epochs=200, verbose=0)
y_predict = model.predict(X_test,verbose=0)
print(y_predict)

WARNING:tensorflow:From /home/saeed/miniconda3/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

ValueError: Error when checking input: expected lstm_1_input to have 3 dimensions, but got array with shape (2944424, 6)